$default-font: 'Montserrat', sans-serif;

// Colors
$grey: #EEEEEF;
$medium-grey: #58595B;
$grey-boulder: #58595B;
$lap-grey: #707070;
$blue: #23B5E1;

$people-color: #BA33BA;
$business-color: #23B5E1;
$planet-color: #83B341;