$default-font: 'Syne', sans-serif;
$syne-font: 'Syne', sans-serif;
$dm-sans: 'DM Sans', sans-serif;


// Colors
$grey: #EEEEEF;
$medium-grey: #58595B;
$grey-boulder: #58595B;
$lap-grey: #707070;
$light-grey: #F5EEE9;
$blue: #23B5E1;
$green: #6FAD81;

$dark-blue: #0D1136;

$people-color: #8E68FF;
$business-color: #2273E1;
$planet-color: #55AF7D;



