.bg-blue {
  background-color: $business-color;
}

.bg-white {
  background-color: #fff;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-light-grey {
  background-color: $light-grey;
}

.bg-green {
  background-color: $planet-color;
}
