.button {
  display: inline-flex;
  font-size: 0.65em;
  padding: 0.65em 1.25em;
  transition: all 0.2s !important;

  &.spacing {
    letter-spacing: 1px;
  }

  &.medium {
    padding: 1.6em 2.5em;
  }

  &.rounded {
    border-radius: 12px;
  }

  &.bold {
    font-weight: bold;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.blue {

    &.solid {
      background-color: $blue;
      color: #fff;
      &:hover {
        background-color: $dark-blue;
      }
    }

    &.outlined {
      border: 2px solid $blue;
      color: $blue;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
  }

  &.white {
    &.solid {
      background-color: #fff;
      color: $business-color;

      &:hover {
        background-color: $light-grey;
      }

    }
  }

  &.purple {
    &.outlined {
      border: 2px solid $people-color;
      color: $people-color;
      &:hover {
        background-color: $people-color;
        color: #fff;
      }
    }
  }

  &.green {
    &.outlined {
      border: 2px solid $planet-color;
      color: $planet-color;
      &:hover {
        background-color: $planet-color;
        color: #fff;
      }
    }
  }

  &.dark-blue {
    &.solid {
      background-color: $dark-blue;
      color: #fff;
    }

    &.outlined {
      border: 2px solid $dark-blue;
      color: $dark-blue;
      &:hover {
        background-color: $dark-blue;
        color: #ffff;
      }
    }
  }

  &.black {
    &.outlined {
      border: 2px solid $grey-boulder;
      color: $grey-boulder;
      &:hover {
        background-color: $grey-boulder;
        color: #fff;
      }
    }
  }

  &.white {
    &.outlined {
      border: 2px solid #fff;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .button {
    &.medium {
      min-width: 302px;
      justify-content: center;
    }
  }
}
