.circle {
  position: absolute;
  width: 20em;
  height: 20em;
  border-radius: 100%;
  border: 2px solid;
  &.purple {
    border-color: $people-color;
  }
  &.green {
    border-color: $green;
  }

  &.blue {
    border-color: $blue;
    &.solid {
      background-color: $blue;
    }
  }

}

@media only screen and (max-width: 991px) {
  .circle {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

@media only screen and (min-width: 992px) {
  .circle {
    &.left {
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.right {
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}
