
.description-with-image {
  position: relative;
  overflow: hidden;
  &.with-container {
    padding: 2.5em 0;
  }
  &:not(.with-container) {
    .description {
      padding: 2.5em 7.5%;
    }
  }

  .description {
    h4 {
      font-size: 1.5em;
      line-height: 1.2;
    }

    span {
      text-transform: uppercase;
      letter-spacing: 2px;
      display: block;
      padding-bottom: 1em;
    }
    p {
      margin-top: 1em;
      line-height: 1.5;
    }

    .button {
      margin-top: 2em;
      font-size: 0.55em;
    }
  }
}

@media only screen and (max-width: 991px) {
  .description-with-image {
    font-size: 1.25em;
    &.with-container {
      .description {
        padding-bottom: 2.5em;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .description-with-image {
    &.with-container {
      .content {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
      }

      .description {
        padding: 0;
        width: 24em;
      }

      .cover-image {
        width: calc(100% - 28em);
        max-width: 700px;
      }
    }

    &:not(.with-container) {
      display: flex;
      align-items: stretch;

      .description {
        padding: 4em 5em;
      }

    }

    &.image-left {
      flex-direction: row-reverse;
    }

    .description, .cover-image {
      width: 50%;
    }

    .description {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      span {
        font-size: 0.5em;
      }

      p {
        font-size: 0.8em;
      }

      .button {
        font-size: 0.5em;
      }
    }
  }
}


.text-with-circle-image {
  padding: 1.45em 0;
  position: relative;

  &.small {
    h4 {
      font-size: 1.5em;
    }
  }

  .circle, .cover-image {
    width: 15em;
    height: 15em;
  }

  h4 {
    font-size: 1.8em;
    line-height: 1.1;
  }

  p {
    line-height: 1.6;
    margin: 1em 0;
    font-size: 0.75em;
  }

  span {
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 2px;

    &.description-legend {
      display: block;
      font-size: 0.72em;
      padding-bottom: 0.5em;
    }
  }
}

@media only screen and (max-width: 991px) {
  .text-with-circle-image {
    font-size: 1.25em;
    text-align: center;

    .cover-image {
      margin: 0 auto;
    }

    .description {
      padding-top: 2em;
    }
  }
}


@media only screen and (min-width: 992px) {
  .text-with-circle-image {

    .cover-image, .circle {
      width: 20em;
      height: 20em;
    }

    .cover-image {
      position: relative;
      transform: translateX(calc(10em - 7.5vw));
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .description {
      width: calc(100% - 30em);
    }
  }
}

@media only screen and (min-width: 1500px) {
  .text-with-circle-image {
    .cover-image, .circle {
      width: 23em;
      height: 23em;
    }

    .cover-image {
      transform: translateX(calc(11.5em - 7.5vw));
    }

    .description {
      width: calc(100% - 35em);
    }
  }
}

.app-malwee-benefits {
  padding-bottom: 3.4em;
  .button {
    margin: 0 auto;
    display: table;
    text-align: center;
  }
}

ul.app-malwee-benefits-list {
  max-width: 45em;
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  padding-bottom: 3em;

  li {
    color: $dark-blue;
    img {
      display: block;
      margin: 0 auto;
    }

    > strong {
      display: block;
      text-align: center;
      padding: 1.35em 0;
    }

    p {
      line-height: 1.5;
    }
  }
}

@media only screen and (max-width: 767px) {
  ul.app-malwee-benefits-list {
    li {
      p {
        max-width: 20em;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .app-malwee-benefits {
    .button {
      font-size: 0.45em;
    }
  }

  .app-malwee-benefits-list {
    grid-template-columns: repeat(3, 1fr);

    li {
      font-size: 0.7em;

      img {
        width: 5em;
      }
    }

  }
}
