#brand-intro {
  padding: 10em 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.36);
    top: 0;
    left: 0;
  }

  h1 {
    padding: 0 1em;
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 10vw;
    font-weight: 900;
    text-transform: lowercase;
  }
}

#brand-disclaimer {
  padding: 3em 0;

  h2 {
    font-size: 2.25em;
  }

  p {
    font-size: 1.35em;
    margin-top: 1em;
    line-height: 1.35;
  }
}

@media only screen and (min-width: 992px) {
  #brand-disclaimer {
    .container {
      padding: 0 1.45em;
    }
  }
}


#brand-manifest {
  padding: 2.5em 0;
  text-align: center;
    > span {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.2em;
    }

    h2 {
      font-size: 1.75em;
      padding: 0 0.5em;
    }
}

@media only screen and (min-width: 992px) {
  #brand-manifest {
    > span, > h2 {
      letter-spacing: 2px;
    }
  }
}

.manifest-video {
  width: 85%;
  margin: 1.5em auto 0;
  max-width: 54em;
  height: 25em;
  position: relative;
  img {
    border-radius: 2px;
  }

  .modal-open {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(#fff, 0.1);
    img {
      width: 3em;
    }
  }
}

.brand-information {
  border-top: 3px solid #EEEEEF;
  border-bottom: 3px solid #EEEEEF;
  padding: 1.5em 0;
  display: grid;
  margin-bottom: 2em !important;

  li {
    padding: 2em;
    text-align: center;
    strong {
      letter-spacing: 2px;
    }

    p {
      line-height: 1.5;
      margin: 1em 0;
    }

    > a {
      padding: 1em 2em;
      min-width: 230px;
      justify-content: center;
      font-size: 0.85em;
    }
  }
}

@media only screen and (max-width: 767px) {
  .brand-information {
    width: 85%;
    margin: 0 auto !important;
    li {
      &:not(:last-child) {
        border-bottom: 2px solid #EEEEEF;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brand-information {
    grid-template-columns: 1fr 1fr;
    li {
      &:first-child, &:nth-child(2) {
        border-bottom: 2px solid #EEEEEF;
      }
      &:first-child, &:nth-child(3) {
        border-right: 2px solid #EEEEEF;
      }
    }
  }
}

.brand-social-list {
  display: flex;
  justify-content: center;
  a {
    &:not(:last-child) {
      margin-right: 0.85em;
    }
  }
}

@media only screen and (min-width: 992px) {
  .brand-information {
    grid-template-columns: repeat(4, 1fr);
    li {
      padding: 0 2em;
      font-size: 0.7em;

      &:not(:last-child) {
        border-right: 2px solid #EEEEEF;
      }
    }
  }
}
