#intro {
  &.business {
    padding: 2em;
    position: relative;
    background-color: $business-color;
    overflow: hidden;

    .intro-text, .cover-image, .circle {
      width: 20em;
      height: 20em;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em 3em;
        border-radius: 100%;
        border: 2px solid $dark-blue;
        color: #fff;
        strong {
          font-size: 2.4em;
          display: block;
          padding-bottom: 0.25em;
        }
        span {
          font-weight: bold;
          font-size: 1.1em;
        }
      }

      .cover-image {
        img {
          border-radius: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  #intro {
    &.business {
      .cover-image {
        margin-top: -5em;
      }
    }

    p {
      margin: 0;
    }

  }
}

@media only screen and (min-width: 992px) {
  #intro {
    &.business {
      .intro-text, .cover-image, .circle {
        width: 26em;
        height: 26em;
      }
      .cover-image {
        position: relative;
        margin-left: -2em;
      }
    }
  }
}


#benefits {
  padding: 5em 0;
  .content {
    display: grid;
    grid-gap: 3em;
  }

  .entry-text {
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1.5;
  }

  .description {
    line-height: 1.5;
    font-size: 1.2em;
  }
}

.benefits-list {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
  padding-top: 4em;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img {
      width: 8em;
    }
    p {
      padding-top: 1em;
      font-size: 1.2em;
    }
  }
}

@media only screen and (min-width: 992px) {
  #benefits {
    .content {
      grid-template-columns: 1.3fr 2fr;
    }

    .entry-text {
      font-size: 1.3em;
    }

    .description {
      font-size: 1.05em;
    }

    .benefits-list {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 -2em;
      li {
        img {
          width: 5em;
        }
        p {
          font-size: 0.8em;
        }
      }
    }
  }
}

#business-model {
  padding-top: 3em;
  background-color: $light-grey;

  > h2 {
    padding: 0 1em 1.55em;
    text-align: center;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 1.75em;
  }
}

.business-example {
  overflow: hidden;
  h2 {
    padding: 1.5em 0;
  }
}

@media only screen and (min-width: 992px) {
  .business-example {
    h2 {
      font-size: 1.3em;
    }
  }
}

.business-example-carousel {
  position: relative;
  .swiper-slide {
    height: 26em;
  }

  .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    background-color: rgba(#fff, 0.91);
    width: 100%;
    font-family: $dm-sans;
    font-weight: bold;
    padding: 0.5em;
    font-size: 1.2em;
  }
}

.arrow-back, .arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  border: 0;
  z-index: 2;

  &.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  img {
    width: 2.75em;
  }
}

.arrow-back {
  left: 1em;
}

.arrow-next {
  right: 1em;
}

@media only screen and (max-width: 991px) {
  #papo-fashion {
    &.with-container {
      .cover-image {
        width: 20em;
        height: 20em;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #papo-fashion {
    &.with-container {
      .content {
        align-items: center;
      }
    }
    .cover-image {
      width: 20em;
      height: 20em;
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: 1450px) {
  #papo-fashion {
    &.with-container {
      .cover-image {
        width: 22em;
        height: 22em;
        position: relative;
        right: 5em;
      }

      .description {
        width: 26em;
      }

      .circle {
        right: 5em;
      }
    }
  }
}
