#business-model {
  padding-top: 3em;
  background-color: $light-grey;

  > h2 {
    padding: 0 1em 1.55em;
    text-align: center;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 1.75em;
  }
}

.business-example {
  overflow: hidden;
  h2 {
    padding: 1.5em 0;
  }
}

@media only screen and (min-width: 992px) {
  .business-example {
    h2 {
      font-size: 1.3em;
    }
  }
}

.business-example-carousel {
  position: relative;
  .swiper-slide {
    height: 26em;
  }

  .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    background-color: rgba(#fff, 0.91);
    width: 100%;
    font-family: $dm-sans;
    font-weight: bold;
    padding: 0.5em;
    font-size: 1.2em;
  }
}

.arrow-back, .arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  border: 0;
  z-index: 2;

  &.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  img {
    width: 2.75em;
  }
}

.arrow-back {
  left: 1em;
}

.arrow-next {
  right: 1em;
}

@media only screen and (max-width: 991px) {
  #papo-fashion {
    &.with-container {
      .cover-image {
        width: 20em;
        height: 20em;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #papo-fashion {
    &.with-container {
      .content {
        align-items: center;
      }
    }
    .cover-image {
      width: 20em;
      height: 20em;
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: 1450px) {
  #papo-fashion {
    &.with-container {
      .cover-image {
        width: 22em;
        height: 22em;
        position: relative;
        right: 5em;
      }

      .description {
        width: 26em;
      }

      .circle {
        right: 5em;
      }
    }
  }
}
